In [1]:
import pandas as pd

pd.read_csv('SLAMS_mms1(unpublished).csv')

                           time_utc        Bx        By        Bz      Babs
0    2022-03-02T12:29:30.059812918Z -1.361272  0.778157  0.235518  1.585578
1    2022-03-02T12:29:30.122313793Z -1.368908  0.800391  0.193126  1.597445
2    2022-03-02T12:29:30.184814668Z -1.352125  0.818984  0.226935  1.597021
3    2022-03-02T12:29:30.247315543Z -1.341826  0.809836  0.265318  1.589567
4    2022-03-02T12:29:30.309816418Z -1.352195  0.794891  0.281688  1.593622
..                              ...       ...       ...       ...       ...
955  2022-03-02T12:30:29.748148542Z -1.385355  1.113098  1.332638  2.221288
956  2022-03-02T12:30:29.810649417Z -1.475385  1.031451  1.330320  2.238393
957  2022-03-02T12:30:29.873150292Z -1.460266  0.836253  1.276314  2.112031
958  2022-03-02T12:30:29.935651167Z -1.371837  0.708318  1.236315  1.977910
959  2022-03-02T12:30:29.998152042Z -1.432328  0.563256  1.292279  2.009678

[960 rows x 5 columns]